body {
    background: #999;
    cursor: default;
    font: 8px game;
}

@font-face {
    font-family: game;
    src: url(../font/game.ttf);
}

#container {
    margin: 0 auto;
    width: 640px;
}

#game {
    background: #000;
    border: 2px solid white;
    box-shadow: 3px 3px 5px #000000;
    height: 480px;
    overflow: hidden;
    position: relative;
    width: 640px;
}

#togglesound {
    float: right;
    margin-top: 20px;
}

#hints {
    font-style: italic;
    margin-top: 20px;
}

#level {
    height: 480px;
    width: 640px;
}

#text {
    display: none;
    height: 128px;
    line-height: 28px;
    padding: 10px 14px;
    position: absolute;
    width: 612px;
}

.text-default {
    background: url(../img/text.gif) no-repeat 0 0;
}

.text-nobox {
    background: none;
}

#text-confirm {
    bottom: 7px;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    text-decoration: blink;
    width: 640px;
}

#ui {
    display: none;
    height: 480px;
    left: 0;
    position: absolute;
    top: 0;
    width: 640px;
    z-index: 100000;
}

#ui-hp {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 44px;
    text-shadow: 2px 2px 0 #000;
    top: 420px;
}

#ui-hp-bar {
    background: #000;
    border: 2px solid #000;
    border-radius: 6px;
    height: 8px;
    left: 36px;
    position: absolute;
    top: 434px;
    width: 200px;
}

#ui-hp-bar div {
    background: #f00;
    border-radius: 6px;
    height: 8px;
}

.hp-pos, .hp-neg {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 0 #000;
    z-index: 10000;
}
.hp-pos { color: #4f4; }
.hp-neg { color: #fff; }

.char {
    display: none;
    position: absolute;
}

#hero {
    background: url(../img/char/ark.gif) no-repeat 0 0;
    height: 64px;
    width: 44px;
    z-index: 1000;
}

.random-npc {
    background: url(../img/char/book.gif) no-repeat 0 0;
    height: 28px;
    width: 36px;
}
